.admin1{
    /* background-image: url('C:\Users\Lenono-PC\Desktop\React\reactproject\HM\public\images\a2.jpg'); */
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* background-color: skyblue; */
    position: relative;
    top: 200px;
}
.name img{
    position: relative;
    bottom: 600px;
    left: 500px;
}