.showdoctor{
    display: inline;
    
   
}
.doctor{
    margin-right: 30px;
    padding: 20px;
    border: 3px solid black;
    margin-left: 30px;
    background-color: silver;

}
#sd1{
    text-decoration: underline gray;
    text-align: center;
    color: rgb(8, 28, 2);
}